header .navbar {
    background-color: #AB7342;
}
.calendarBtn {
    background-color: #AB7342;
    color: white;
}

/* Début TP Calendrier */
.table {
    text-align: center;
}
.table .table-dark {
    border: white;
}
.table .table-dark th {
    background-color: #AB7342;
}
.table tbody {
    border-top: white!important;
}
@media (min-width: 992px) {
    .table {
        table-layout: fixed;
    }
}
/* Fin TP Calendrier */