header .navbar {
    background-color: #AB7342;
}
.calendarBtn {
    background-color: #AB7342;
    color: white;
}
.todayFr {
    color: white;
}
.pastNextIcon {
    color: white;
}

/* Début TP Calendrier */
.table {
    text-align: center;
}
.table .table-dark {
    border: white;
}
.table .table-dark th {
    background-color: #AB7342;
}
.table tbody {
    border-top: white!important;
}
.table tbody .dayMonth {
    font-weight: bold;
    text-align: start;
    height: 6rem;
}
.table tbody .dayMonth:hover, .table tbody .dayMonth:focus, .table tbody .dayToday {
    background-color: #CDAA85;
}
@media (min-width: 992px) {
    .table {
        table-layout: fixed;
    }
}
/* Fin TP Calendrier */